body{
  background-image:url('record.jpg');
  background-attachment:fixed;
  background-repeat: repeat;
  background-size: cover;
}
#title {
  text-align: center;
  font-family: arial, sans-serif;
  background-color: #A1BDB9;
  position: fixed;
  width: 100%;
  padding-bottom: 5px;
}

#music {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#music td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 1.25rem;
  font-weight: bold;
}

#music tr:nth-child(even){background-color: rgba(245, 245, 245, .6)}

#music tr:hover {background-color: rgb(245, 245, 245)}

#music th {
  padding-top: 100px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #A1BDB9;
  color: black;
  font-size: 2rem;
}